# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual Environment
# =========================
.venv/
venv/
ENV/
env/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Logs & Cache
# =========================
*.log
.cache/
.pytest_cache/

# ====================
